<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.Data.WinForms" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.DataGridExport.WinForms" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.Pdf.WinForms" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.GridCommon" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfComboBox" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="24.1.41" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.WinForms" version="24.1.41" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
</packages>